@import "./reset.scss";
@import "./variables.scss";

*,
*::after,
*::before {
  font-family: "Raleway", sans-serif;
}

html,
body,
[id="root"] {
  background-color: $color-primary;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  body,
  html,
  [id="root"] {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

.focus-outline:focus-visible {
  outline: none;
  box-shadow: $focus-primary;
}

@supports not selector(:focus-visible) {
  .focus-outline:focus {
    outline: none;
    box-shadow: $focus-primary;
  }
}

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
